:root {
  --white:       hsl(  0deg  0% 100%);
  --alpha-black: hsl(  0deg  0%   0% / 10%);
  --brand:       hsl(220deg 80%  60%);
  --accent:      hsl( 40deg 80%  60%);
  --gray-20:     hsl(220deg 20%  20%);
  --gray-50:     hsl(220deg 20%  50%);
  --gray-90:     hsl(220deg 20%  90%);
  --shadow: 4px 4px 5px 1px #00000010;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: var(--gray-20);
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

p, small {
  color: var(--gray-50);
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

input {
  min-width: 200px;
  max-width: 9999px;
  flex: 1;
  border: none;
  background-color: var(--gray-90);
  border-radius: 9999px;
  padding: .25rem .5rem;
}

button {
  border: none;
  cursor: pointer;
  background: var(--brand);
  color: var(--white);
  font-weight: 600;
  padding: .5rem 2rem;
  border-radius: 9999px;
  &:hover {
    opacity: 0.8;
  }
}

a:focus, input:focus, button:focus {
  outline: 2px solid var(--gray-20);
  border: none;
}

a:has(> img):focus {
  outline: none;
}

::selection {
  color: var(--gray-20);
  background: var(--accent);
}

.icon {
  display: inline;
}

.pfp {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background-size: cover !important;
}

.pfp-large {
  width: 72px;
  height: 72px;
}

.pfp-user {
  background: url('../images/profiles/current_user.jpg');
}

.pfp-one {
  background: url('../images/profiles/other_user_1.jpg');
}

.pfp-two {
  background: url('../images/profiles/other_user_2.jpg');
}

.pfp-three {
  background: url('../images/profiles/other_user_3.jpg');
}

.header {
  grid-area: header;
  background: var(--white);
  box-shadow: var(--shadow);
  display: grid;
  padding: 1rem 2rem;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
}

.header .icon {
  width: 32px;
  height: 32px;
  stroke: var(--gray-20);
  fill: var(--gray-20);
}

.search, .profile-details, .welcome, .buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile-details, .buttons {
  justify-self: end;
}

.sidebar {
  grid-area: sidebar;
  background: var(--brand);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  padding: .5rem 0;
}

.sidebar .icon {
  margin: .75rem 1.25rem;
}

.logo .icon {
  width: 48px;
  height: 48px;
}

.sidebar .logo, .sidebar a {
  display: flex;
  align-items: center;
  &:hover {
    background-color: var(--alpha-black);
  }
  &:focus {
    outline: none;
    padding-left: .25rem;
    background: linear-gradient(to right, white, white .25rem, var(--alpha-black) .25rem, var(--alpha-black));
  }
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.logo p {
  font-size: 1.75rem;
  color: white;
}

.sidebar nav p {
  font-size: 1.25rem;
  color: white;
}

.main-content {
  grid-area: main-content;
  overflow: auto;
  background: var(--gray-90);
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  h2 {
    margin-bottom: .5rem;
  }
}

.projects-section {
  grid-area: projects;
}

.announcements-section {
  grid-area: announcements;
}

.trending-section {
  grid-area: trending;
}

.projects-section, .announcements-section, .trending-section {
  display: flex;
  flex-direction: column;
}

.project-items {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-items, .announcement-items, .trending-items {
  flex: 1;
}

.card, .announcement-items, .trending-items {
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: var(--shadow);
}

.card {
  background: linear-gradient(to right, var(--accent), var(--accent) .5rem, var(--white) .5rem, var(--white));
  padding: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  .icon {
    opacity: 0;
  }
  &:hover {
    .icon {
      opacity: 0.5;
    }
  }
}

.card .icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.card .interactions {
  display: flex;
  gap: .75rem;
  margin-top: auto;
  align-self: flex-end;
}

.announcement-items {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  *:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.announcement {
  border-bottom: 1px solid var(--gray-90);
  padding-bottom: .75rem;
  margin-bottom: .75rem;
}

.trending-items {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}

.profile {
  display: grid;
  grid-template-rows: 24px 24px;
  grid-template-columns: 48px 1fr;
  grid-template-areas: 
    "pfp username"
    "pfp name";
  column-gap: .5rem;
}

.grid .pfp {
  grid-area: pfp;
}

.profile em {
  grid-area: username;
}

.profile p {
  grid-area: name;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white:       hsl(220deg 30%  10%);
    --alpha-black: hsl(  0deg  0% 100% / 10%);
    --brand:       hsl(220deg 70%  70%);
    --accent:      hsl( 40deg 70%  70%);
    --gray-20:     hsl(220deg 30%  80%);
    --gray-50:     hsl(220deg 30%  50%);
    --gray-90:     hsl(220deg 30%  20%);
  }
}