:root {
  --brand:  hsl(220deg 80% 60%);
  --accent: hsl( 40deg 80% 60%);
  --gray-20:hsl(220deg 20% 20%);
  --gray-50:hsl(220deg 20% 50%);
  --gray-90:hsl(220deg 20% 90%);
  --shadow: 4px 4px 5px 1px #00000010;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: var(--gray-20);
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

p {
  color: var(--gray-50);
}

a {
  text-decoration: none;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

input {
  min-width: 200px;
  max-width: 9999px;
  width: 40vw;
  border: none;
  background-color: var(--gray-90);
  border-radius: 9999px;
  padding: .25rem .5rem;
}

button {
  border: none;
  cursor: pointer;
  background: var(--brand);
  color: white;
  font-weight: 600;
  padding: .5rem 2rem;
  border-radius: 9999px;
  &:hover {
    opacity: 0.8;
  }
}

a:focus, input:focus, button:focus {
  outline: 2px solid var(--gray-20);
  border: none;
}

::selection {
  color: var(--gray-20);
  background: var(--accent);
}

.icon {
  display: inline;
}

.pfp {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background-size: cover !important;
}

.pfp-large {
  width: 72px;
  height: 72px;
}

.pfp-user {
  background: url('../images/profiles/current_user.jpg');
}

.pfp-one {
  background: url('../images/profiles/other_user_1.jpg');
}

.pfp-two {
  background: url('../images/profiles/other_user_2.jpg');
}

.pfp-three {
  background: url('../images/profiles/other_user_3.jpg');
}

.header {
  grid-area: header;
  background: white;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.header .icon {
  width: 32px;
  height: 32px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-left, .header-top-right, .header-bottom, .buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.buttons {
  margin-left: auto;
}

.sidebar {
  grid-area: sidebar;
  background: var(--brand);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  padding: .5rem;
}

.sidebar .icon {
  margin: .75rem 1.25rem;
}

.logo .icon {
  width: 48px;
  height: 48px;
}

.sidebar .logo, .sidebar li {
  display: flex;
  align-items: center;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.logo a {
  font-size: 1.75rem;
  color: white;
}

.sidebar nav a {
  font-size: 1.25rem;
  color: white;
}

.main-content {
  grid-area: main-content;
  background: var(--gray-90);
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.projects-section {
  grid-area: projects;
}

.announcements-section {
  grid-area: announcements;
}

.trending-section {
  grid-area: trending;
}

.projects-section, .announcements-section, .trending-section {
  display: flex;
  flex-direction: column;
}

.project-items {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.project-items, .announcement-items, .trending-items {
  flex: 1;
}

.card, .announcement-items, .trending-items {
  background-color: white;
  border-radius: .5rem;
  box-shadow: var(--shadow);
}

.card {
  background: linear-gradient(to right, var(--accent), var(--accent) .5rem, white .5rem, white);
}