:root {
  --brand:  hsl(220deg 80% 60%);
  --accent: hsl( 40deg 80% 60%);
  --gray-20:hsl(  0deg  0% 20%);
  --gray-50:hsl(  0deg  0% 50%);
  --gray-90:hsl(  0deg  0% 90%);
  --shadow: 4px 4px 5px 1px #00000010;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: var(--gray-20);
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

p {
  color: var(--gray-50);
}

a {
  text-decoration: none;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

.header {
  grid-area: header;
  background: white;
  box-shadow: var(--shadow);
}

.sidebar {
  grid-area: sidebar;
  background: var(--brand);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  padding: 1rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  list-style: none;
  padding: 0;
}

.logo a {
  font-size: 1.75rem;
  color: white;
}

.sidebar nav a {
  font-size: 1.25rem;
  color: white;
}

.main-content {
  grid-area: main-content;
  background: var(--gray-90);
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.projects-section {
  grid-area: projects;
}

.announcements-section {
  grid-area: announcements;
}

.trending-section {
  grid-area: trending;
}

.projects-section, .announcements-section, .trending-section {
  display: flex;
  flex-direction: column;
}

.project-items {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.project-items, .announcement-items, .trending-items {
  flex: 1;
}

.card, .announcement-items, .trending-items {
  background-color: white;
  border-radius: .5rem;
  box-shadow: var(--shadow);
}

.card {
  background: linear-gradient(to right, var(--accent), var(--accent) .5rem, white .5rem, white);
}